<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="../public/css/main.css" rel="stylesheet" />
    <title>Inicio</title>
</head>

<body>
    <div class="i_d1">
        <div class="i_d2">
            <a href="#">controlplagas360</a>
        </div>
        <div class="i_d2 opciones">
            <a href="inicio.html">Inicio</a>
            <a href="somos.html">Quienes somos</a>
            <a href="servicios.html">Servicios</a>
        </div>
        <div class="dropdown">
            <input type="checkbox" id="toggle">
            <label for="toggle">Menú</label>
            <div class="dropdown-content">
                <a href="inicio.html">Inicio</a>
                <a href="somos.html">Quienes somos</a>
                <a href="servicios.html">Servicios</a>
            </div>
          </div>
    </div>

    <div class="i_d3">
        <img class="i_i1" src="../public/img/8.png" alt="">
        <div class="d3_d1">
            <div class="d3_d1_titulo">¿Que hacemos?</div>
            <div class="d3_d1_conteido">
                Ofrecemos servicios de fumigación y tratamiento para eliminar insectos, roedores y entre otros organismos nocivos que pueden afectar la salud y el bienestar de las personas y el medio ambiente
            </div>
            <a href="servicios.html" class="d3_d1_boton">Servicios</a>
        </div>
    </div>

    <!-- <div class="i_d4">
        <a href="https://www.instagram.com/CONTROLPLAGAS_360/" class="v2_20" target="_BLANK">instagram</a>
        <a href="https://www.facebook.com/Controlplagas360" class="v3_21" target="_BLANK">Facebook</a>
        <a href="#" class="v3_22" target="_BLANK">Whatsapp</a>
        <a href="https://www.tiktok.com/@controlplagas360" class="v3_23" target="_BLANK">Tiktok</a>
    </div> -->

    <div class="i_d5">
        <div class="d5_d1">
            <div class="d5_titulo">
                NUESTRA PROPUESTA
            </div>
            <div class="d5_subtitulo">
                Servicios de calidad, con el mas alto nivel de Confort
            </div>
            <div class="d5_contenido">
                Nuestro propósito es garantizar la salud y el bienestar de nuestros clientes, ofreciendo soluciones efectivas y seguras para el control de plagas
            </div>
            <div class="d5_contenido">
                Nos dedicamos a proteger hogares, negocios y entornos públicos mediante el uso de tecnologías avanzadas y productos de alta calidad, minimizando el impacto ambiental y priorizando la seguridad de las personas y sus mascotas
            </div>
            <div class="d5_contenido">
                A través de un servicio profesional y personalizado, buscamos prevenir y eliminar las plagas de manera sostenible, creando espacios más seguros y saludables para todos
            </div>
            <a  href="https://api.whatsapp.com/message/XK3CRWWCLS7EK1?autoload=1&app_absent=0" class="d5_boton" target="_BLANK">Contactanos</a>
        </div>
        <div class="d5_d2">
            <img src="../public/img/3.png" alt="">
            <img class="d5_i1" src="../public/img/4.png" alt="">
        </div>
    </div>

    <div class="i_d6">
        <div class="d6_d1"></div>
        <div class="d6_d2">
            Nuestros Servicios
        </div>
        <div class="d6_d3">
            <div>
                Fumigación Residencial: Protegemos tu hogar de plagas comunes como insectos, roedores y otras amenazas que pueden poner en riesgo la salud de tu familia. Utilizamos productos seguros y efectivos que garantizan un entorno libre de plagas sin comprometer la seguridad de tus seres queridos
            </div>
            <div>
                Fumigación Industrial: Atendemos las necesidades de fábricas, almacenes, oficinas y otros espacios industriales con un enfoque especializado en el control de plagas a gran escala. Ofrecemos planes personalizados que cumplen con las normativas de salud y seguridad para garantizar la protección de tus instalaciones, productos y empleados
            </div>
        </div>
        <div class="d6_d4">
            <div class="d6-d4_d1">
                <img src="../public/img/locales.jpg" alt="">
                <div>Fumigación de locales</div>
                <a href="servicios.html" class="d6-d4-boton">Ver servicio</a>
            </div>
            <div class="d6-d4_d1">
                <img src="../public/img/restaurante.jpg" alt="">
                <div>Fumigación de restaurantes</div>
                <a href="servicios.html" class="d6-d4-boton">Ver servicio</a>
            </div>
            <div class="d6-d4_d1">
                <img src="../public/img/1.png" alt="">
                <div>Fumigación de bodegas</div>
                <a href="servicios.html" class="d6-d4-boton">Ver servicio</a>
            </div>
        </div>
    </div>
</body>

</html>