<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="../public/css/main.css" rel="stylesheet" />
    <title>Inicio</title>
</head>

<body>
    <div class="i_d1">
        <div class="i_d2">
            <a href="#">Logo</a>
            <a href="#">Empresa</a>
        </div>
        <div class="i_d2">
            <a href="inicio.html">Inicio</a>
            <a href="somos.html">Quienes somos</a>
            <a href="servicios.html">Servicios</a>
        </div>
    </div>

    <div class="i_d3">
        <img class="i_i1" src="../public/img/2.png" alt="">
        <div class="d3_d1">
            <div class="d3_d1_titulo">Informacion principal</div>
            <div class="d3_d1_conteido">
                Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Totam incidunt repudiandae ad provident doloremque libero dolores in
                modi ullam reprehenderit cupiditate ex aperiam sunt iste a, debitis aliquam quia repellendus? Lorem ipsum
                dolor sit amet
            </div>
            <div class="d3_d1_boton">Servicios</div>
        </div>
    </div>

    <!-- <div class="i_d4">
        <a href="https://www.instagram.com/CONTROLPLAGAS_360/" class="v2_20" target="_BLANK">instagram</a>
        <a href="https://www.facebook.com/Controlplagas360" class="v3_21" target="_BLANK">Facebook</a>
        <a href="#" class="v3_22" target="_BLANK">Whatsapp</a>
        <a href="https://www.tiktok.com/@controlplagas360" class="v3_23" target="_BLANK">Tiktok</a>
    </div> -->

    <div class="i_d5">
        <div class="d5_d1">
            <div class="d5_titulo">
                NUESTRA PROPUESTA
            </div>
            <div class="d5_subtitulo">
                Servicios de calidad, con el mas alto nivel de Confort
            </div>
            <div class="d5_contenido">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam incidunt repudiandae ad provident doloremque
                libero dolores in modi ullam reprehenderit cupiditate ex
                aperiam sunt iste a, debitis aliquam quia repellendus?
                Lorem ipsum dolor sit amet
            </div>
            <div class="d5_contenido">
                consectetur adipisicing elit. Totam incidunt repudiandae
                ad provident doloremque libero dolores in modi
                ullam reprehenderit cupiditate ex aperiam sunt iste a,
                debitis aliquam quia repellendus?
            </div>
            <div class="d5_boton">Contactanos</div>
        </div>
        <div class="d5_d2">
            <img src="../public/img/3.png" alt="">
            <img class="d5_i1" src="../public/img/4.png" alt="">
        </div>
    </div>

    <div class="i_d6">
        <div class="d6_d1"></div>
        <div class="d6_d2">
            Nuestros Servicios
        </div>
        <div class="d6_d3">
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                incidunt repudiandae ad provident doloremque libero dolores in modi ullam reprehenderit cupiditate ex
                aperiam sunt iste a, debitis aliquam quia repellendus? Lorem ipsum dolor sit amet
            </div>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                incidunt repudiandae ad provident doloremque libero dolores in modi ullam reprehenderit cupiditate ex
                aperiam sunt iste a, debitis aliquam quia repellendus? Lorem ipsum dolor sit amet
            </div>
        </div>
        <div class="d6_d4">
            <div class="d6-d4_d1">
                <img src="../public/img/2.png" alt="">
                <div>servicio</div>
                <div class="d6-d4-boton">Ver servicio</div>
            </div>
            <div class="d6-d4_d1">
                <img src="../public/img/1.png" alt="">
                <div>servicio</div>
                <div class="d6-d4-boton">Ver servicio</div>
            </div>
            <div class="d6-d4_d1">
                <img src="../public/img/1.png" alt="">
                <div>servicio</div>
                <div class="d6-d4-boton">Ver servicio</div>
            </div>
        </div>
    </div>
</body>

</html>