<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="../public/css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="i_d1">
        <div class="i_d2">
            <a href="#">Logo</a>
            <a href="#">Empresa</a>
        </div>
        <div class="i_d2">
            <a href="inicio.html">Inicio</a>
            <a href="somos.html">Quienes somos</a>
            <a href="servicios.html">Servicios</a>
        </div>
    </div>

    <div class="v11_41">
        <div class="v11_60"></div><span class="v11_61">Informacion principal</span><span class="v11_62">Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Totam incidunt repudiandae ad provident doloremque libero
            dolores in modi ullam reprehenderit cupiditate ex aperiam sunt iste a, debitis aliquam quia repellendus?
            Lorem ipsum dolor sit amet </span>
        <div class="v11_65">
            <div class="v13_101"></div><span class="v11_72">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam incidunt repudiandae ad provident doloremque
                libero dolores in modi ullam reprehenderit cupiditate ex
                aperiam sunt iste a, debitis aliquam quia repellendus?
                Lorem ipsum dolor sit amet

                consectetur adipisicing elit. Totam incidunt repudiandae
                ad provident doloremque libero dolores in modi
                ullam reprehenderit cupiditate ex aperiam sunt iste a,
                debitis aliquam quia repellendus?</span>
        </div>
        <div class="v11_97"></div>
        <div class="v11_98"></div>
        <div class="v13_146">
            <div class="v13_105">
                <div class="v13_106"></div>
                <div class="v13_107"></div>
                <div class="v13_109"></div><span class="v13_112">consectetur adipisicing elit. Totam incidunt
                    repudiandae
                    ad provident doloremque libero dolores in modi
                    ullam reprehenderit</span>
                <div class="v13_115"></div><span class="v13_116">ver servicio</span>
            </div>
            <div class="v13_128">
                <div class="v13_129"></div>
                <div class="v13_130"></div><span class="v13_131">consectetur adipisicing elit. Totam incidunt
                    repudiandae
                    ad provident doloremque libero dolores in modi
                    ullam reprehenderit</span>
                <div class="v13_132"></div><span class="v13_133">ver servicio</span>
            </div>
            <div class="v13_140">
                <div class="v13_141"></div>
                <div class="v13_142"></div><span class="v13_143">consectetur adipisicing elit. Totam incidunt
                    repudiandae
                    ad provident doloremque libero dolores in modi
                    ullam reprehenderit</span>
                <div class="v13_144"></div><span class="v13_145">ver servicio</span>
            </div>
        </div>
        <div class="v13_147">
            <div class="v13_148">
                <div class="v13_149"></div>
                <div class="v13_150"></div>
                <div class="v13_151"></div><span class="v13_152">consectetur adipisicing elit. Totam incidunt
                    repudiandae
                    ad provident doloremque libero dolores in modi
                    ullam reprehenderit</span>
                <div class="v13_153"></div><span class="v13_154">ver servicio</span>
            </div>
            <div class="v13_155">
                <div class="v13_156"></div>
                <div class="v13_157"></div><span class="v13_158">consectetur adipisicing elit. Totam incidunt
                    repudiandae
                    ad provident doloremque libero dolores in modi
                    ullam reprehenderit</span>
                <div class="v13_159"></div><span class="v13_160">ver servicio</span>
            </div>
            <div class="v13_161">
                <div class="v13_162"></div>
                <div class="v13_163"></div><span class="v13_164">consectetur adipisicing elit. Totam incidunt
                    repudiandae
                    ad provident doloremque libero dolores in modi
                    ullam reprehenderit</span>
                <div class="v13_165"></div><span class="v13_166">ver servicio</span>
            </div>
        </div>
    </div>
</body>

</html>