<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="../public/css/main.css" rel="stylesheet" />
    <title>somos</title>
</head>

<body>
    <div class="i_d1">
        <div class="i_d2">
            <a href="#">controlplagas360</a>
        </div>
        <div class="i_d2 opciones">
            <a href="inicio.html">Inicio</a>
            <a href="somos.html">Quienes somos</a>
            <a href="servicios.html">Servicios</a>
        </div>
        <div class="dropdown">
            <input type="checkbox" id="toggle">
            <label for="toggle">Menú</label>
            <div class="dropdown-content">
                <a href="inicio.html">Inicio</a>
                <a href="somos.html">Quienes somos</a>
                <a href="servicios.html">Servicios</a>
            </div>
          </div>
    </div>

    <div class="i_d3">
        <img class="i_i1" src="../public/img/2.png" alt="">
        <div class="d3_d1">
            <div class="d3_d1_titulo">Informacion principal</div>
            <div class="d3_d1_conteido">
                Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Totam incidunt repudiandae ad provident doloremque libero dolores in
                modi ullam reprehenderit cupiditate ex aperiam sunt iste a, debitis aliquam quia repellendus? Lorem ipsum
                dolor sit amet
            </div>
            <div class="d3_d1_boton">Servicios</div>
        </div>
    </div>

    <div class="s_d1">
        <div class="s-d1_titulo">¿Quienes somos?</div>
        <div class="s-d1_contenido">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Totam incidunt repudiandae ad provident doloremque
            libero dolores in modi ullam reprehenderit cupiditate ex
            aperiam sunt iste a, debitis aliquam quia repellendus?
            Lorem ipsum dolor sit amet
        </div>
        <div class="s-d1_contenido">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Totam incidunt repudiandae ad provident doloremque
            libero dolores in modi ullam reprehenderit cupiditate ex
            aperiam sunt iste a, debitis aliquam quia repellendus?
            Lorem ipsum dolor sit amet
        </div>
    </div>

    <div class="s_d2">
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Totam incidunt repudiandae ad provident doloremque
            libero dolores in modi ullam reprehenderit cupiditate ex
            aperiam sunt iste a, debitis aliquam quia repellendus?
            Lorem ipsum dolor sit amet
        </div>
        <img class="d2_i1" src="../public/img/8.png" alt="">
    </div>

    <div class="s_d3">
        <div class="s-d1_titulo">¿Quienes somos?</div>
        <div class="s_d2">
            <img class="d2_i2"  src="../public/img/8.png" alt="">
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Totam incidunt repudiandae ad provident doloremque
                libero dolores in modi ullam reprehenderit cupiditate ex
                aperiam sunt iste a, debitis aliquam quia repellendus?
                Lorem ipsum dolor sit amet
            </div>
        </div>
    </div>
</body>

</html>